//===============================================================
// VARIABLES
//===============================================================
// colors
$paper: white;
$ink: hsl( 220, 10, 30 );
$primary: hsl( 220, 100, 50 );

// Typography
$zeta: 12px;
$epsilon: 14px;
$delta: 16px;
$gamma: 22px;
$beta: 24px;
$alpha: 36px;
$mega: 48px;
$giga: 60px;
$tera: 86px;

$base-font-size: $delta;