//===============================================================
// ELEMENTS
//===============================================================
// Buttons
.btn,
button {
  appearance: none;
  border: 0;
  outline: none;
  background: $primary;
}