//===============================================================
// LAYOUT
//===============================================================
*,
*::before,
*:after {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body,
html {

}

body {

}

// Images
img {
  max-width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.no-scroll {
  overflow: hidden;
}

ul.text-list {
  list-style: disc;
  padding-left: 1em;
}