//===============================================================
// LAYOUT
//===============================================================
*,
*::before,
*:after {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body,
html {

}

body {

}

.right {
  float: right;
}

.left {
  float: left;
}

.no-scroll {
  overflow: hidden;
}